.input-wrapper {
    display: flex;
    justify-content: center;
}

.input {
    width: 15rem;
    height: 2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #94A9C2;
}