body {
    background-color: #403F4C;
}

.app {
    margin: auto;
    margin-top: 300px;
    background-color: #7EA3CC;
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
}
.button, .status-button {
    border-radius: 10px;
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: #94A9C2;
    color: black;
}

.check {
    margin-left: 100px;
}

.button-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 20px;
}



