body {
    background-color: #403F4C;
}

.app {
    margin: auto;
    margin-top: 400px;
    background-color: #7EA3CC;
    max-width: 800px;
    max-height: 800px;
}
.button, .status-button {
    border-radius: 10px;
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: #94A9C2;
    color: black;

}

.todo-wrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}