.app {
    margin: auto;
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
}

#root {
   margin-top: 200px;
}

.button-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.todo-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

h1, .todo {
    text-align: center;
}

.line {
    text-decoration: line-through;
}

.count {
    text-align: center;
    font-size: 20px;
}

.allbtn {
    margin-bottom: 20px;
}

.card {
    background-color: #26648E;
}

.input-wrapper {
    display: flex;
    justify-content: center;
}

.input {
    width: 15rem;
    height: 2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #E7D7C1;
    border: 0;
    border-bottom: 1px solid black;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.delete-btn {
    background-color: #D9594C !important;
    width: 50px !important;
}

.check {
    background-color: #4CD989 !important;
    width: 50px !important;
}

.button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button:hover {
  background-color: #f7fafa;
}

.button:focus {
  border-color: green;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

